@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

* {
    font-family: 'Poppins';
}

#send {
    max-width: calc(100% - 120px);
    border-radius: 20px 20px 0 20px;
}

#receive {
    max-width: calc(100% - 120px);
    border-radius: 20px 20px 20px 0;
    background-color: #fff;
}

.message-body {
    height: 400px;
    overflow-y: auto;
}

a#user {
    text-decoration: none;
}

#text {
    outline: none;
    background-color: inherit;
    box-shadow: none;
    font-weight: 600;
}